body {
  background-color: #000000;
}

svg {
  border: 2px solid #ffffff;
}

.container {
  width: 504px;
  margin: auto;
  padding-top: 10px;
  color: #ffffff;
  font-family: "Helvetica Neue Light", "Arial", sans-serif;
  font-size: 14px;
}

.intro {
  margin-bottom: 10px;
}

#ship {
  stroke: #ffffff;
  fill: #ffffff;
}

#enemy {
  stroke: #ffffff;
  fill: #ffffff;
}

.score-board {
  margin-bottom: 10px;
}
.score-board .status:first-child {
  float: left;
}
.score-board .status:last-child {
  float: right;
}